<!DOCTYPE html>
<html lang="it">
  <head>
    <th:block th:replace="fragment/fragment :: scr-head"></th:block>

    <title>Inserisci appuntamento</title>
  </head>
  <body>
    <th:block th:replace="fragment/fragment :: navbar"></th:block>

    <div class="container">
      <h1 class="text-center">Benvenuto nell'area appuntamenti</h1>
      
      <h2> Inserisci i tuoi dati</h2>
      <form
        id="form-appointment"
        th:object="${appointment}"
        th:action="@{/appointment/edit}"
        method="POST"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="form-floating mb-3 mt-3 has-validation">
          <input
            type="text"
            class="form-control"
            th:field="*{name}"
            id="name"
            th:errorClass="is-invalid"
            placeholder="nome"
          />
          <label for="floatingInput">Nome</label>
          <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
            <ul>
              <li
                th:each="err : ${#fields.errors('name')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>
        <div class="form-floating mb-3 mt-3 has-validation">
          <input
            type="text"
            class="form-control"
            th:field="*{surname}"
            id="surname"
            th:errorClass="is-invalid"
            placeholder="cognome"
          />
          <label for="floatingInput">Cognome</label>
          <div th:if="${#fields.hasErrors('surname')}" class="invalid-feedback">
            <ul>
              <li
                th:each="err : ${#fields.errors('surname')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>
        <div class="form-floating mb-3 mt-3 has-validation">
          <input
            type="email"
            class="form-control"
            th:field="*{email}"
            id="email"
            th:errorClass="is-invalid"
            placeholder="email"
          />
          <label for="floatingInput">E-Mail</label>
          <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
            <ul>
              <li
                th:each="err : ${#fields.errors('email')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>

        <div class="form-floating mt-3 has-validation">
          <input
            type="number"
            class="form-control"
            th:field="*{phone}"
            id="phone"
            th:errorClass="is-invalid"
            placeholder="phone"
          />
          <label for="floatingPassword"> Numero di telefono</label>
          <div
            th:if="${#fields.hasErrors('phone')}"
            class="invalid-feedback"
          >
            <ul>
              <li
                th:each="err : ${#fields.errors('phone')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>
        <hr>
        <h2> Inserisci data e orario dell'appuntamento:</h2>
        <h4>Inserire solo l'ora della prenotazione senza i minuti</h4>
        <div class="form-floating mt-3 has-validation">
          <input
            type="datetime-local"
            class="form-control"
            th:field="*{date}"
            id="date"
            th:errorClass="is-invalid"
            placeholder="date"

          />
          <label for="floatingPassword">Data Appuntamento</label>
          <div
            th:if="${#fields.hasErrors('date')}"
            class="invalid-feedback"
          >
            <ul>
              <li
                th:each="err : ${#fields.errors('date')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>
		
        <div>
          <button type="submit" class="btn btn-primary mt-3">Save</button>
          <a class="btn btn-primary mt-3" href="/agent">Cancel</a>
        </div>
      </form>
    </div>
    <div th:replace="fragment/fragment :: footer"></div>
  </body>
</html>
