<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragment/fragment :: scr-head"></th:block>
    <title>Amministrazione</title>
</head>
<body>
<th:block th:replace="fragment/fragment :: navbar"></th:block>
   <div class="container">
    <h1 class="text-center">Benvenuto nell'area Admin </h1></h1>
   <hr>
   <h2 class="text-center"> Pannello di controllo</h2>
    <div class="text-center">
    <a class="btn btn-success m-3 " href="/agent/edit">Crea nuovo Agente</a>
    <a class="btn btn-primary m-3" href="/agent">Lista Agenti</a>
    <a class="btn btn-dark m-3 " href="/estate/admin/estateList/edit">Crea nuovo Immobile</a>
    <a class="btn btn-info m-3" href="/estate/admin/estateList">Lista Immobili Admin</a>
    <a class="btn btn-info m-3" href="/appointment/appointmentListAdmin">Lista Appuntamenti Agenti</a>
    </div>
    <hr>
        <h2 class="text-center">Riepilogo attività effettuate nell'ultimo mese</h2>
<table class="table">
  <thead>
  <h3>Dati agenti</h3>
    <tr>
      <th class="table-dark" scope="col">Nome</th>
      <th class="table-dark" scope="col">Cognome</th>
      <th class="table-dark" scope="col">Appuntamenti effettuati</th>
      <th class="table-dark" scope="col">Immobili venduti/affittati</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="a : ${agentList} "> 
      <th class="table-info" scope="row" th:text="${a.name}"></th>
      <th class="table-info" scope="row" th:text="${a.surname}"></th>
      <th class="table-info" scope="row" th:text="${a.getCountDoneAppointments()}"></th>
      <th class="table-info" scope="row" th:text="${a.getCountSoldAndRented()}">0</th>
    </tr>
    
  </tbody>
</table>

	<h3>Annunci aggiunti di recente (Ultimi 7 giorni)</h3>
	
	<table class="table">
  <thead>
    <tr>
      <th class="table-dark" scope="col">Titolo Annuncio</th>
      <th class="table-dark" scope="col">Indirizzo</th>
      <th class="table-dark" scope="col">Cap/Città/Provincia</th>
      <th class="table-dark" scope="col">Data inserimento</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="e : ${estateList} "> 
      <th class="table-info" scope="row" th:text="${e.adTitle}"></th>
      <th class="table-info" scope="row" th:text="${e.address}"></th>
      <th class="table-info" scope="row"  th:text="|${e.zipCode} ${e.city} ${e.province}|" ></th>
      <th class="table-info" scope="row" th:text="${e.getFormattedInsertionDate()}"></th>
    </tr>
    
  </tbody>
</table>

<h3>Appuntamenti in programma per la prossima settimana</h3>
	<table class="table">
  <thead>
    <tr>
      <th class="table-dark" scope="col">Nome Agente</th>
      <th class="table-dark" scope="col">Indirizzo</th>
      <th class="table-dark" scope="col">Cap/Città/Provincia</th>
      <th class="table-dark" scope="col">Data inserimento</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="e : ${estateList} "> 
      <th class="table-info" scope="row" th:text="${e.adTitle}"></th>
      <th class="table-info" scope="row" th:text="${e.address}"></th>
      <th class="table-info" scope="row"  th:text="|${e.zipCode} ${e.city} ${e.province}|" ></th>
      <th class="table-info" scope="row" th:text="${e.getFormattedInsertionDate()}"></th>
    </tr>
    
  </tbody>
</table>
    </div>
<footer><th:block th:replace="fragment/fragment :: footer"></th:block></footer>

</body>
</html>