<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amministrazione</title>
</head>
<body>
   <div th:replace="fragment :: header"></div>
   <div>
    <h1 style="text-align:center">Benvenuto Amministratore <h1 th:text="${user.name}"></h1></h1>
   </div>
    <div style="text-align:center">
    <button href="/user" type="button" class="btn btn-dark">Lista Utenti <span class="badge badge-light">4</span></button>
    <button href="/agent" type="button" class="btn btn-primary">Lista Agenti <span class="badge badge-light">4</span></button>
    <button href="/estate" type="button" class="btn btn-success">Lista Immobili <span class="badge badge-light">4</span></button></div>
</body>
</html>