<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragment/fragment :: scr-head"></th:block>
    <title>Amministrazione</title>
</head>
<body>
<th:block th:replace="fragment/fragment :: navbar"></th:block>
   <div class="container">
    <h1 style="text-align:center">Benvenuto Amministratore </h1></h1>
   
    <div style="text-align:center">
    <a class="btn btn-primary m-3" href="/agent">Lista Agenti</a>
    <a class="btn btn-success m-3" href="/agent">Lista Immobili Admin</a>
    
    </div>
        <h2>Riepilogo attività effettuate nell'ultimo mese</h2>
<table class="table">
  <thead>
  <h3>Dati agenti</h3>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Appuntamenti effettuati</th>
      <th scope="col">Immobili venduti/affittati</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="a : ${agentList}> 
      <th scope="row" th:text="${a.name}"></th>
      <th scope="row" th:text="${a.surname}"></th>
      <th scope="row" >0</th>
      <th scope="row" >0</th>
      <th scope="row" >0</th>
    </tr>
    
  </tbody>
</table>
    </div>
<footer><th:block th:replace="fragment/fragment :: footer"></th:block></footer>

</body>
</html>