body{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  padding: .55rem 1.5rem .45rem;
}

.bgcss{
	background-color:#2b5497;
}

img{
	border-radius:15px;
}

.prova{
	color:white;
}

.verde{
	color:#6db688;
}
.verde:hover {
  color:#DCECEA;
  transition: 0.5s;
  width: 50px;
}