<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragment :: scr-head"></th:block>
    <title>Document</title>
</head>
<body>

   <thead> <th:block th:replace="fragment :: navbar"></th:block> </thead>
   <div class="container">
   <div class="row">
   <div class="col-6">
   <img src="https://primaalessandria.it/media/2022/04/agente-immobiliare-420x252.jpg">
	<div class="container">
	<h1 th:text="${agent.name}"></h1>
	<h1 th:text="${agent.surname}"></h1>
  <div class="row">
    <div class="col">
    <h2>Email</h2>
      <p th:text="${agent.email}"></p>
    </div>
    <div class="col">
      <h2>Password</h2>
      <p th:text="${agent.password}">
    </div>
    <div class="col">
       <h2>Serial Number</h2>
      <p th:text="${agent.serialNumber}">
    </div>
    <div class="col">
    <h2>Data</h2>
      <p th:text="${agent.hiringDate}"></p>
    </div>
    <div class="col">
      <h2>Livello Di Sicurezza</h2>
      <p th:text="${agent.securityLevel}">
    </div>
    <div class="col">
       <p>Scegli una password: <input type="password"name="password"></p>
     </div>
     <div class="col">
     <div th:if="${#lists.isEmpty(agent.estate)}">
    	<h1>Questo Agente Non Ha Immobili</h1>
</div>
<div th:unless="${#lists.isEmpty(agent.estate)}">
    <table class="table bg-dark rounded" >


    <th> Indirizzo </th>
    <th> CAP </th>
    <th> Città </th>
    <th> Superfice </th>
    <th> Prezzi </th>
    <th> Data </th>
    <th> Classe Energetica </th>
    <th> Tipo </th>
    <th> Numero Vani </th>
    <th> Numero di Bagni </th>
    <th> Numero dei Balconi </th>
    <th> Posto Auto </th>
    <th> Id Agente </th>
    <th> Visualizzazione </t>
    <th> Like </th>



  <tr th:each="e : ${agent.estate}">
    <td th:text="${e.address}">Indirizzo</td>
    <td th:text="${e.zipCode}">CAP</td>
    <td th:text="${e.city}">Città</td>
    <td th:text="${e.area}">Superfice</td>
    <td th:text="${e.price}">Prezzi</td>
    <td th:text="${e.getFormattedDate()}">Data</td>
    <td th:text="${e.energyClass}">Classe Energetica</td>
    <td th:text="${e.type}">Tipo</td>
    <td th:text="${e.numSpaces}">Numero Vani</td>
    <td th:text="${e.numBathrooms}">Numero di Bagni</td>
    <td th:text="${e.numBalconies}">Numero dei Balconi</td>
    <td th:text="${e.hasCarSpot}">Posto Auto</td>
    <td th:text="${e.hasGarden}">Giardino</td>
    <td th:text="${e.agent.id}">Id Agente</td>
    <td th:text="${e.numViews}">Visualizzazione</td>
    <td th:text="${e.numLikes}">Like</td>

  </tr>

</table>
    </div> 
    </div>
   </div>
  
  </div>
  </div>
 </div>
   
   
   
   
    <footer>
		<th:block th:fragment="footer"></th:block> <a> copyright team Casa carut </a>
	</footer>
</body>
</html>