<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragment/fragment :: scr-head"></th:block>
    <link rel="stylesheet" href="/403Css.css" />
    <title>Accesso non consentito</title>
  </head>
  <body>
    <th:block th:replace="fragment/fragment :: navbar"></th:block>


    <div class="container text-center my-5 py-5">
      <div
        sec:authorize="hasAuthority('ADMIN')"
        class="text-danger"
        th:text="|${status} ${error} ${message}|"
      ></div>
      <div class="row d-flex justify-content-center">
        <a href="/" class="col-2 m-5 btn btn-success">Torna alla Home</a>
        <a href="/estate" class="col-2 m-5 btn btn-info"
          >Torna alla Lista immobili</a
        >
      </div>
    </div>
    <footer>
      <th:block th:replace="fragment/fragment :: footer"> </th:block>
    </footer>
  </body>
</html>
