<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragment/fragment :: scr-head"></th:block>
	<title>Dettagli proprietà</title>
</head>
<body>
	<header>
		<th:block th:replace="fragment/fragment :: navbar"></th:block>
	</header>
	<main>
		<div class="container w-75"> <!-- container più grande, per far venire tutto centrato-->
			<div class="row">
				<div id="carouselForEstateImagesFade" class="carousel slide carousel-fade col-7" data-bs-ride="carousel"> <!-- carosello immagini-->
					<div class="carousel-inner">
						<div th:each="img : ${estate.images}" class="carousel-item">
							<img th:src="@{|/estate/image/${img.id}/content|}" class="img-fluid" alt="Immagine immobile">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					  </button>
				</div>
				<div id="EstateBaseData" class="col-4">

				</div>
			</div>
			<div class="row">
				<div id="EstateComplementaryData" class="col-5">

				</div>
				<div id="agentCardData" class="col-5"> <!--card con dati dell'agente assegnato-->
					<div class="container m-2 d-flex justify-content-center">
						<div class="card p-3">
							<div class="d-flex align-items-center">
								<div class="image">	
									<!--qui va inserita l'immagine dell'agente, non ne conosco il collegamento per il th:src al momento-->						
									<img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded">
									
								</div>
								<div class="p-3 w-100">
										<h4 th:text="|${estate.agent.name} ${estate.agent.surname}|"></h4>
										<h5 th:text="${estate.agent.email}"></h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</main>
	<footer>
		<footer>
			<th:block th:replace="fragment/fragment :: footer"></th:block>
		</footer>
	</footer>
</body>

</html>