<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragment/fragment :: scr-head"></th:block>
	<title>Dettagli propriet&aacute;</title>
</head>
<body>
	<header>
		<th:block th:replace="fragment/fragment :: navbar"></th:block>
	</header>
	<main>

		<div class="container w-75 my-5"> <!-- container più grande, per far venire tutto centrato-->

			<div class="row">
				<div id="carouselForEstateImagesFade" class="carousel slide carousel-fade rounded-3 col-7" data-bs-ride="carousel"> <!-- carosello immagini-->
					<div class="carousel-inner rounded-3" style="max-width : 500px; height: 300px">
						<div th:each="img,iter : ${estate.images}" class="carousel-item" th:classappend="${iter.index == 0 ? 'active' : ''}">
							<img th:src="@{|/estate/image/${img.id}/content|}" class="img-fluid" alt="Immagine immobile">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					  </button>
				</div>
				<div id="EstateBaseData" class="d-flex col-4 p-4">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><h5 th:text="|${estate.address}, ${estate.houseNumber} ${estate.zipCode} ${estate.city}|"></h5></li>
						<li class="list-group-item"><h4>Prezzo immobile</h4></li>
						<li class="list-group-item"><h4 th:text="|${estate.price}&euro;|"></h4></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="EstateComplementaryData" class="col-5 p-4">
					<ul class="list-group">
						<li class="list-group-item" th:text="|Tipo di immobile: ${estate.type}"></li>
						<li class="list-group-item" th:text="|Piano: ${estate.floorNumber}|"></li>
						<li class="list-group-item" th:text="|Interno: ${estate.interior}|"></li>
						<li class="list-group-item" th:text="|Superficie totale: ${estate.area}m&#178;|"></li>
						<li class="list-group-item" th:text="|Classe energetica: ${estate.energyClass}|"></li>
						<li class="list-group-item" th:text="|Numero vani: ${estate.numSpaces}|"></li>
						<li class="list-group-item" th:text="|Numero bagni: ${estate.numBathrooms}|"></li>
						<li class="list-group-item" th:if=" ${estate.numBalconies}>0" th:text="|Numero balconi: ${estate.numBalconies}|" ></li>
						<li class="list-group-item" th:if="${estate.hasCarSpot==true}">L'immobile è munito di posto auto</li>
						<li class="list-group-item" th:if="${estate.hasGarden==true}">L'immobile presenta spazio esterno con giardino</li>
					</ul>
				</div>
				<div id="agentCardData" class="col-5 container "> <!--card con dati dell'agente assegnato-->
					<div class="m-2 d-flex justify-content-center">
						<div class="card p-3">
							<div class="d-flex align-items-center">
								<div class="image">	
									<!--"qui va inserita l'immagine dell'agente, non ne conosco il collegamento per il th:src al momento-->						
									<img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" style="height:100px;width:100px;" class="rounded-3">
									
								</div>
								<div class="p-3">
										<h4 th:text="|${estate.agent.name} ${estate.agent.surname}|"></h4>
										<h5 th:text="${estate.agent.email}"></h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</main>
	<footer>
		<footer>
			<th:block th:replace="fragment/fragment :: footer"></th:block>
		</footer>
	</footer>
</body>

</html>
