
<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:replace="fragment/fragment :: scr-head"></th:block>
	<link rel="stylesheet" href="/estateDetailCSS.css">
	<title>Dettagli propriet&aacute;</title>
</head>
<body>
	<header>
		<th:block th:replace="fragment/fragment :: navbar"></th:block>
	</header>
	<main>
		
		<div class="container w-50 my-5 text-center "> <!-- container più grande, per far venire tutto centrato-->
			<th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div  class="alert alert-success" th:text="${successMessage}"></div>
	  		</th:block>
			<div class="row altezza-carosello">
				
				<div id="carouselForEstateImagesFade" class="carousel slide carousel-fade rounded-3" data-bs-ride="carousel"> <!-- carosello immagini-->
					<div class="carousel-inner rounded-3" >
						<div th:each="img,iter : ${estate.images}" class="carousel-item " th:classappend="${iter.index == 0 ? 'active' : ''}">
							<img th:src="@{|/estate/image/${img.id}/content|}" class="img-fluid w-100 altezza-carosello" alt="Immagine immobile">
						</div>
					</div>
					<button class="carousel-control-prev text-light" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next text-light" type="button" data-bs-target="#carouselForEstateImagesFade" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					  </button>
				</div>
				
			</div>
			<h1 id="detailTitle" class="m-3" th:text="${estate.adTitle}"></h1>
			
		</div>
			<div class="d-flex row">


				<div id="EstateBaseData" class="d-flex col-4 pt-3 ps-5">
					<ul class="list-group list-group-flush mw-100">
						<li class="list-group-item"><h5 th:text="|${estate.address}, ${estate.houseNumber} ${estate.zipCode} ${estate.city} ${estate.province}|"></h5></li>
						<li class="list-group-item"><h3>Prezzo immobile</h3> <span><h3 th:text="|${estate.getFormattedPrice(estate.price)}|"></h3></span> </li>
						<li class="list-group-item"><h5>Descrizione immobile</h5> <span><p th:text="${estate.description}"></p></span></li>
					</ul>
				</div>

				<div id="EstateComplementaryData" class="col-4 py-4">
					<ul class="list-group">
						<li class="list-group-item" th:text="|Tipo di immobile: ${estate.type}"></li>
						<li class="list-group-item" th:text="|Piano: ${estate.floorNumber}|"></li>
						<li class="list-group-item" th:text="|Interno: ${estate.interior}|"></li>
						<li class="list-group-item" th:text="|Superficie totale: ${estate.area}m&#178;|"></li>
						<li class="list-group-item" th:text="|Classe energetica: ${estate.energyClass}|"></li>
						<li class="list-group-item" th:text="|Numero vani: ${estate.numSpaces}|"></li>
						<li class="list-group-item" th:text="|Numero bagni: ${estate.numBathrooms}|"></li>
						<li class="list-group-item" th:if=" ${estate.numBalconies>0}" th:text="|Numero balconi: ${estate.numBalconies}|" ></li>
						<li class="list-group-item" th:if="${estate.hasCarSpot==true}">L'immobile è munito di posto auto</li>
						<li class="list-group-item" th:if="${estate.hasGarden==true}">L'immobile presenta spazio esterno con giardino</li>
					</ul>
					<div class="text-center mt-3">
			
				<p>
					 <a href="/estate" class="mb-2 mt-2 btn btn-info">
                      Torna alla lista immobili
                   </a>
				</p>
			</div>
				</div>
				<div id="agentCardData" class="col-3 ms-5"> <!--card con dati dell'agente assegnato-->
					<div class="text-center">
						<h3 class="mb-2">Agente di competenza</h3>
						<div class="card row">
							<div class="d-flex" >
								<div class="d-flex flex-column text-center" >
									<div th:if="${estate.agent.agentImage.size() == 0}">
										<img  src="/img/agentDefault.jpg" class="dimensione-foto-agente img-fluid rounded-3 mt-5 border border-dark" alt="Admin">
									</div>
									<div th:if="${estate.agent.agentImage.size() != 0}" th:each="img : ${estate.agent.agentImage}">
										<img  th:src="@{|/image/${img.id}/content|}" class="dimensione-foto-agente img-fluid rounded-3">
									</div>
								</div>
								<div class="m-5 text-center">
									<h4 th:text="|${estate.agent.name} ${estate.agent.surname}|"></h4>
									<h4 th:text="${estate.agent.email}"></h4>
									<h4 th:text="|+39/${estate.agent.phone}|"></h4>
							</div>
							</div>
						</div>
					</div>
					<div th:if="${estate.getStatusValue(estate.getStatus())==4 || estate.getStatusValue(estate.getStatus())==3}">
						<h3 class="mt-5">Vuoi avere più dettagli di questo immobile o vederlo da vicino?</h3>
						<a class="btn btn-success mb-3" th:href="@{|/appointment/edit/${estate.id}|}">Prenota un appuntamento</a>
					</div>	
				</div>
			</div>

	</main>
	<footer>
		<footer>
			<th:block th:replace="fragment/fragment :: footer"></th:block>
		</footer>
	</footer>
</body>

</html>

