<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/fragment :: scr-head"></th:block>
    <title>Lista Immobili</title>
</head>
<body>
    <thead> <th:block th:replace="fragment/fragment :: navbar"></th:block> </thead>
    
<div th:if="${#lists.isEmpty(estateList)}">
    	<h1>Mi dispiace non ci sono ancora immobili nel catalogo.</h1>
</div>
<div th:unless="${#lists.isEmpty(estateList)}">
<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

    
    <footer><th:block th:replace="fragment/fragment :: footer"></th:block></footer>
</body>
</html>