<!doctype html>
<html lang="it">
  <head>
  <th:block th:replace="fragment/fragment :: scr-head"></th:block>
    <title>Inserisci immagine</title>
  </head>
  <body>
    <th:block th:replace="fragment/fragment :: navbar"></th:block> </thead>
    
    <div class="container mt-3">
	<h1>Immagini immobile: </h1>
		<h2 class="text-muted" th:text="|${imageForm.estate.address}, ${imageForm.estate.houseNumber} ${imageForm.estate.zipCode} ${imageForm.estate.city} ${imageForm.estate.province}|"></h2>
		<hr />
		<div class="col-6">
		<!-- Inizio Form (mappata su un oggetto di tipo ImageForm, non Image -->
			<form 
				id="form-img" 
				th:object="${imageForm}"
				th:action="@{/estate/image/save}" 
				method="POST"
				enctype="multipart/form-data"
				>
				<input type="hidden" th:field="*{estate}">
				<div class="mb-3">
				  <label for="contentMultipart" class="form-label">Aggiungi immagine</label>
				  <input class="form-control" type="file" id="contentMultipart" th:field="*{contentMultipart}">
				</div>
				<button class="btn btn-dark rounded-pill" type="submit">Salva</button>
			</form>
			<!--  fine form -->
			<!--  inizio lista (model attribute imageList) -->
			<div class="row mt-3">
				<div class="col-5 mb-5" th:each="img : ${imageList}">
					<img th:src="@{|/estate/image/${img.id}/content|}" class="img-fluid h-100" alt=""> 
					<a class="btn btn-danger d-block my-2 rounded-pill" width:"100%" title="Cancella" th:href="@{|/estate/image/delete/${img.getId()}|}" onclick="return confirm('Sei sicuro?') "><i class="fa-solid fa-trash-can"></i></a>
				</div>
			</div>
			<a href="/estate/admin/estateList" class="my-4 btn btn-dark rounded-pill">Torna alla lista immobili admin</a>
			<!--  fine lista -->
</div>
    </div>
	<footer>
		<th:block th:replace="fragment/fragment :: footer"></th:block>
	
	</footer>
    
  </body>
</html>